body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #614a4a;
}
header {
    background-color: #090909;
    padding: 20px;
    text-align: center;
    color: white;
}
.nav-links {
    list-style: none;
    padding: 0;
}
.nav-links li {
    display: inline;
    margin: 0 10px;
}
.nav-links a {
    text-decoration: none;
    color: white;
}
.hero {
    padding: 50px 0;
    text-align: center;
    background-color: #7b5f5f;
}
.hero h1 {
    font-size: 36px;
}
.services {
    padding: 40px;
    text-align: center;
}
.service {
    margin: 20px 0;
    .service img {
        max-width: 50%;
        height: auto;
        border-radius: 8px;
    }
    .service h3 {
        font-size: 24px;
        margin: 10px 0;
    }
    .service p {
        font-size: 16px;
        color: #555;
    }   
}
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}